# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/.name
.idea/inspectionProfiles/
.idea/intellij-javadocs-4.0.1.xml
.idea/misc.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/
src/test/
target/
